CoMessage.App/Connected Services/CoMessageService/CoMessage.Model.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CoMessage.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoMessage.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CoMessage.Model.Common.OperationResults" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorID" type="ser:guid" />
      <xs:element minOccurs="0" name="ChatID" type="ser:guid" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:MessageData" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsEdited" type="xs:boolean" />
      <xs:element minOccurs="0" name="Kind" type="tns:MessageKind" />
      <xs:element minOccurs="0" name="SendTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="tns:MessageStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="MessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kind" type="tns:MessageKind" />
      <xs:element minOccurs="0" name="_data" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageData" nillable="true" type="tns:MessageData" />
  <xs:simpleType name="MessageKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Text" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageKind" nillable="true" type="tns:MessageKind" />
  <xs:simpleType name="MessageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="NotDelivered" />
      <xs:enumeration value="Sending" />
      <xs:enumeration value="Receving">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Delivered">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Seen">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageStatus" nillable="true" type="tns:MessageStatus" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Avatar" nillable="true" type="q1:Image" />
      <xs:element minOccurs="0" name="ContactID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ServiceNotifyData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:ServiceNotifyCode" />
      <xs:element minOccurs="0" name="InnerData" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoMessage.Model.Common.OperationResults" minOccurs="0" name="OperationCode" type="q2:OperationCode" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceNotifyData" nillable="true" type="tns:ServiceNotifyData" />
  <xs:simpleType name="ServiceNotifyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="S_Login" />
      <xs:enumeration value="E_Login" />
      <xs:enumeration value="S_Logout" />
      <xs:enumeration value="E_Logout" />
      <xs:enumeration value="S_Signin" />
      <xs:enumeration value="E_Signin" />
      <xs:enumeration value="S_Signout" />
      <xs:enumeration value="E_Signout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceNotifyCode" nillable="true" type="tns:ServiceNotifyCode" />
</xs:schema>